@import './settings.css';
@import './helpers.css';

.grid-container {
  display: grid;
  grid-template-columns: 100px 150px 50px 100px;
  grid-template-rows: 100px 150px;
  grid-gap: 10px;
}

.grid-item {
  background-color: var(--griditem-color);
  font-weight: bold;
  outline: var(--griditem-outline);
  padding: 20px;
  text-align: center;
}